#cart-btn {
  z-index: 1000;
  position: absolute;
  top: 15px;
  background-color: $blue;
  color: $white;
}

#add-to-cart {
  background-color: $blue;
  color: $white;
}

.remove {
  background-color: $blue;
  color: $white;
}

#clear-cart {
  display: block;
  width: fit-content;
  margin: 15px auto;
  background-color: $blue;
  color: $white;
}

.cart {
  &--bgk {
    background-color: #00000071;
    position: absolute;
    inset: 0;
    z-index: 500;
    display: none;
  }

  &__dashboard {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    width: 700px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }

  &__list {
    flex-grow: 1;
    overflow-y: auto;

    li {
      display: grid;
      grid-template-columns: 350px 1fr;
      gap: 30px;
      margin: 30px 0;
    }
  }

  &__img-product {
    position: relative;


  }

  &__product {
    height: 233px;
    object-fit: contain;
  }
}