.product__container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.dad-print-image {
  position: absolute;
  top: 55%;
  right: 20%;
  transform: translateY(-50%);
  display: block;
  width: fit-content;
  height: 60px !important;
}

.product {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 460px);
  gap: 20px;
  margin: 50px 0;
  max-height: 550px;

  &__img {
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }

  &__img img {
    display: block;
    height: 500px;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  &__joke-shirt {
    position: absolute;
    font-size: 12px;
    max-width: 100px;
    text-align: center;

    top: 50%;
    left: 19%;
    transform: translateY(-50%);
  }

  &__joke-container {
    height: 150px;
  }

  .radio-container {
    display: flex;
    gap: 30px;
    margin: 0 auto;
    width: fit-content;

    input[type="radio"] {
      padding-top: 100px;
      display: block;
      transform: scale(3);
    }
  }

}

.square-image {
  height: 330px; 
  object-fit: scale-down;
  mix-blend-mode: multiply;
}

#product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

}

.productBtn {
  width: 100%;
}